* {
  box-sizing: border-box;
}

nav,
.card {
  border: 1px solid #ddd;
}

nav,
.card,
.card-panel {
  box-shadow: none;
}

.card {
  cursor: pointer;
  width: 238px;
}

.card-panel {
  padding: 1rem;
  margin: 0;
}

.mysidebar {
  width: 263px;
  height: 100%;
  position: absolute;
  background-color: pink;
}

.mysidebar ul li {
  padding: 1rem;
}

.mysidebar ul li a {
  display: block;
  color: #111;
  font-weight: bold;
}

.notes {
  margin-left: 263px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
